/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
}

/*  NAVBAR */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 40px;

}

/* logo style */

.logo{

    font-size:24px;

    font-weight:bold;

}

/* nav links */

.nav-links{

    display:flex;

    gap:25px;

    list-style:none;

}

/* simple hover test */

.nav-links li:hover{

    transform: translateY(-2px);

}

/* username box */

.user{

    background:#e0f0ff;

    padding:8px 15px;

    border-radius:10px;

}

/* HERO  */

.hero{

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:50px;

}

/* text area */

.hero-text{

    max-width:500px;

}

.hero-text h1{

    font-size:40px;

    margin-bottom:15px;

}

.hero-text span{

    color:#1e90ff;

}

.hero-text p{

    margin-bottom:20px;

    color:gray;

}

/* BUTTON  */



.main-btn{

    padding:12px 25px;

    background:#1e90ff;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    transition:0.4s;

}


.main-btn:hover{

    transform:
        scale(1.15)     
        rotate(-5deg)    
        skew(-5deg)      
        translateY(-5px); 

}



.hero-img img{

    width:350px;

}
