
/* Navbar styling */

.navbar {

display: flex;

justify-content: space-between;

padding: 15px;

}


/* logo text */

.logo {

font-size: 22px;

font-weight: bold;

}


/* menu links */

.nav-links {

display: flex;

gap: 20px;

list-style: none;

}


/* username box */

.user {

background: lightblue;

padding: 5px 10px;

border-radius: 5px;

}


/* hero layout */

.hero {

display: flex;

justify-content: space-between;

padding: 40px;

}


/* hero text */

.hero-text {

width: 450px;

}


.hero-text h1 {

font-size: 36px;

margin-bottom: 10px;

}


/* blue color word */

.hero-text span {

color: blue;

}


.hero-text p {

margin-bottom: 15px;

color: gray;

}


/* button styling */

.main-btn {

padding: 10px 20px;

background: blue;

color: white;

border: none;

cursor: pointer;

/* transition makes movement smooth */

transition: 0.3s;

}


/* hover transform practice */

.main-btn:hover {

transform:

scale(1.1)       /* increase size */

rotate(-5deg)    /* tilt */

skew(-3deg)      /* shape change */

translateY(-4px); /* move upward */

}


/* image size */

.hero-img img {

width: 300px;

}
